<%- include("partials/header") %>
<h1>
	This is the home page
</h1>
<img src="https://assets.stuffs.cool/2017/10/the.cool.stuffs_a96bd1f4-7caa-47ec-9da8-96ff8288b326.jpg" alt="sea">

<%- include("partials/footer") %>